.text-brand {
  color: var(--color-primary-blue);
}

.text-capitalise {
  text-transform: capitalize;
}

.text-bold {
  font-size: 22px;
  font-weight: 600;
}

.text-width {
  width: calc(max-width/3);
}