:root {
  --color-primary-white: #ffffff;
  --color-primary-blue: #2b7fff;
  --color-primary-dark: #011c44;
  --color-secondary-yelow: #ffd02b;
  --color-secondary-lightgray: #747272;
  --color-secondary-darkgray: #4a4a4a;
  --color-secondary-darkblue: #011f4a;
}
