.footer-section {
  margin-top: 96px;
  background-color: var(--color-primary-dark);
  background-image: url(..//images/footer_background.png),
    url(..//images/medical-bottles.png);
  background-repeat: no-repeat, no-repeat;
  background-size: cover, auto;
  background-position: center, right bottom;

  &__container {
    display: flex;
    gap: 186px;
    padding: 56px 0;
  }

  &__logo {
    height: fit-content;
  }

  &__nav {
    flex: 1;
  }

  &__address {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1;
  }

  &__address-items {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__terms {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__address-link,
  &__terms-link,
  &__link {
    font-size: 16px;
    text-decoration: none;
    color: var(--color-primary-white);
  }

  &__terms-link {
    line-height: 1.17;
  }

  &__terms-copyright {
    margin: 0;
    font-size: 13px;
    line-height: 1.17;
    color: var(--color-primary-white);
  }

  &__social {
    display: flex;
    gap: 24px;
    fill: var(--color-primary-white);
  }
}
