.hero-section {
  background-color: transparent;
  background-image: url(..//images/hero-transition.svg),
    url(..//images/hero_background-gradient.png),
    url(..//images/hero_background.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: right top, right top, right top;

  &__container {
    padding: 126px 0 126px 106px;
  }

  &__title {
    margin: 0;
    padding: 16px 0 40px;
    font-family: Play;
    font-size: 140px;
    font-weight: 700;
    line-height: 0.8;
    color: var(--color-primary-blue);
  }
  &__text {
    margin: 0;
  }
}
