.form-terms {
  margin: 0 auto;
  color: var(--color-secondary-lightgray);
  text-align: center;
  font-size: 12px;
  line-height: 1.5; /* 150% */

  &__link {
    color: var(--color-secondary-lightgray);
    text-underline-offset: 2px;
  }
}
