.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;

  &__button {
    width: 11px;
    height: 11px;
    padding: 0;
    background-color: #747272;
    border-radius: 50%;

    &--active {
      background-color: var(--color-primary-blue);
    }
  }
}
