.procedures-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  height: 456px;
  border-radius: 4px 120px;
  background: linear-gradient(
    180deg,
    rgba(1, 28, 68, 0) 48.53%,
    rgba(1, 28, 68, 0.73) 84.61%,
    #011c44 101.39%
  );

  &__image {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 4px 120px;
  }
  &__title {
    text-align: center;
    font-size: 22px;
    line-height: 1.18;
    margin: 0;
    padding: 0 77px 32px 115px;
    color: var(--color-primary-white);
  }
}
