.procedures-card {
  display: flex;
  border-radius: 4px 120px;
  background: linear-gradient(
    180deg,
    rgba(1, 28, 68, 0) 48.53%,
    rgba(1, 28, 68, 0.73) 84.61%,
    #011c44 101.39%
  );

  &__image {
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 4px 120px;
  }
}
